<!DOCTYPE html>
@{
    ViewBag.Title = "About";
}
<center>
<h1>
    <strong>
        ABOUT THE NOODLE HOUSE
    </strong>
</h1>
    </center>

<div class="box3">
    <h2>
        Driven by the passion of defining Vietnamese Cuisine, our goal here at Pho Nam Noodle House is to deliver the finest dishes to allow all people to experience a little bit of Vietnam themselves. Our restaurant has plenty of traditional food to offer such as Pho, Bun Bo, and Mi Xao, just to name a few of what we have to offer.
</h2>
    <h2>
        Our head chef has been practicing the art of Vietnamese cuisine ever since she was a young girl and has perfected many dishes. Growing up in the heart of Ho Chi Minh City, she has had the opportunity to try and taste Vietnamese foods of sorts. Now, we would like the opportunity to share this art with everyone here in Madison, Wisconsin. 
    </h2>
</div>


<body>
    <center>
    <img src="\Images\junction.jpg" style="width:800px;height:650px;">
        </center>
</body>