
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="http://www.opentable.com/ism/feed_alt.css" rel="stylesheet" type="text/css" />
<div id="OT_searchWrapperAll">
    <script type="text/javascript" src="http://www.opentable.com/ism/?rid=1234,1107"></script>
    <noscript id="OT_noscript">
        <a href="http://www.opentable.com/single.aspx?rid=1234&restref=1234&rtype=ism">
            Reserve Now for
            Restaurant A on OpenTable.com
        </a>
        <a href="http://www.opentable.com/single.aspx?rid=1107&restref=1107&rtype=ism">
            Reserve Now for
            Restaurant B on OpenTable.com
        </a>
    </noscript>
    <div id="OT_logo">
        <a href="http://www.opentable.com/home.aspx?rtype=ism" title="Powered By OpenTable">
            <img src="http://www.opentable.com/img/buttons/Otlogo.gif" id="OT_imglogo" alt="Restaurant
Management Software" />
        </a>
    </div>
</div>

